[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
flask = "*"
sklearn = "*"
uwsgi = "*"
uwsgitop = "*"

[dev-packages]

[requires]
python_version = "3.9"
